body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f7f7f7;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  color: #ff7700;
}


h2 {
  font-size: 30px;
  color: black;
}

h3 {
  margin-top: 0;
  font-size: 32px;
  color: black;
}

#word-container {
  margin: 30px 0;
}

#options-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
#word {
  font-size: 36px;
  text-decoration: underline;
  color: #333;
}

#options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.option {
  padding: 12px 24px;
  font-size: 25px;
  border: none;
  border-radius: 20px;
  background-color: #ff7700;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #ff9933;
}

#result {
  margin-bottom: 10px;
  font-weight: bold;
  color: #ff7700;
  font-size: 25px;
}

#score {
  font-size: 20px;
  color: #333;
}

#score-value {
  color: green;
}

#wrong-words-container {
  text-align: center;
  margin-top: 30px;
  position: relative; /* Añadido */
}

#wrong-words-list {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.3s ease;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute; /* Añadido */
  top: 40px; /* Añadido */
  left: 0; /* Añadido */
  right: 0; /* Añadido */
  margin: auto; /* Añadido */
  width: 80%; /* Añadido */
}

.wrong-words-expanded {
  max-height: 270px!important;
  overflow: visible;
  position: fixed!important;
  width: 350px!important;
  scroll-behavior: auto;
  overflow-y: auto!important;
  border: 1px solid #ddd;
  background: #f1f1f1;
  font-size: larger;
  top: 100px!important;
  visibility:visible!important;
}




/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  
  #options {
    flex-direction: column;
    gap: 10px;
  }
  
  #options-container {
    margin-top: 40px;
  }


}

#toggle-words-button {
  display: block;
  margin: 10px auto;
  background-color: #007BFF;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 768px) {
  #wrong-words-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #toggle-words-button {
    margin: 20px auto;
  }
}