body {
  font-family: Arial, sans-serif;
  background-color: #F4F4F4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size:60px;
}

h6 {
  text-align: center;
  padding: 0;
  margin: 5px 0;
  font-size: 30px;
}

#game-container {
  width: 95%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 10px;
  padding: 20px;
}

#question-area {
  text-align: center;
  margin-bottom: 20px;
}

#question {
  font-size: 40px;
  font-weight: bold;
}

#mobile-keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
  border-top: 15px;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 24px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}


.keydel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  font-size: 24px;
  background-color: #962337;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}
.keyreinicio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  font-size: 24px;
  background-color: #218a67;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}

.keyv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  font-size: 24px;
  background-color: #FFFFFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 8px;
}

#answer {
  margin-top: 5px;
  padding: 5px;
  font-size: 40px;
  width: 23%;
  position: relative;
  margin-bottom: 10px;
}

#submit {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff8000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  height: 130px;
}

#feedback {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

#score,
#timer {
  text-align: center;
  font-size: 45px;
}

#score-value,
#timer-value {
  font-weight: bold;
  color: #0004ff;
}

@media screen and (max-width: 768px) {
  #answer {
    width: 95%;
  }

  #submit {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  #answer {
    width: 95%;
  }

  #submit {
    width: 95%;
  }

  #mobile-keyboard {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}